XGBT95_1008/XGBT95_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="XGBT95_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" type="OraTipus" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="OraTipus">
    <xs:sequence>
      <xs:element name="targy" type="xs:string"/>
      <xs:element name="idopont" type="IdopontTipus"/>
      <xs:element name="helyszin" type="xs:string"/>
      <xs:element name="oktato" type="xs:string"/>
      <xs:element name="szak" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="tipus" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="elmélet"/>
          <xs:enumeration value="gyakorlat"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="NapTipus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hétfő"/>
      <xs:enumeration value="kedd"/>
      <xs:enumeration value="szerda"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IdopontOraTipus">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="800"/>
      <xs:maxInclusive value="1930"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="IdopontTipus">
    <xs:sequence>
      <xs:element name="nap" type="NapTipus"/>
      <xs:element name="tol" type="IdopontOraTipus"/>
      <xs:element name="ig" type="IdopontOraTipus"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>