XGBT95_0924/XGBT95_orarend.dtd

<!ELEMENT XGBT95_orarend (ora*)>
<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora
    id      ID      #REQUIRED
    tipus   (elmélet|gyakorlat) #REQUIRED
>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>