XGBT95_1015/XGBT95_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="vendeglatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="etterem" type="EtteremTipus" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="foszakacs" type="FoszakacsTipus" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="szakacs" type="SzakacsTipus" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="gyakornok" type="GyakornokTipus" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="vendeg" type="VendegTipus" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="rendeles" type="RendelesTipus" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:key name="etterem_kulcs">
        <xs:selector xpath="etterem"/>
        <xs:field xpath="@ekod"/>
    </xs:key>

    <xs:key name="foszakacs_kulcs">
        <xs:selector xpath="foszakacs"/>
        <xs:field xpath="@fkod"/>
    </xs:key>

    <xs:key name="szakacs_kulcs">
        <xs:selector xpath="szakacs"/>
        <xs:field xpath="@szkod"/>
    </xs:key>

    <xs:key name="gyakornok_kulcs">
        <xs:selector xpath="gyakornok"/>
        <xs:field xpath="@gykod"/>
    </xs:key>

    <xs:key name="vendeg_kulcs">
        <xs:selector xpath="vendeg"/>
        <xs:field xpath="@vkod"/>
    </xs:key>

    <xs:keyref refer="etterem_kulcs" name="etterem_idegen_kulcs">
        <xs:selector xpath="rendeles" />
        <xs:field xpath="@e_v_e"/>
    </xs:keyref>

    <xs:keyref refer="vendeg_kulcs" name="vendeg_idegen_kulcs">
        <xs:selector xpath="rendeles" />
        <xs:field xpath="@e_v_v"/>
    </xs:keyref>

    <xs:keyref refer="etterem_kulcs" name="etterem_foszakacs_idegen_kulcs">
        <xs:selector xpath="foszakacs" />
        <xs:field xpath="@e_f"/>
    </xs:keyref>

    <xs:keyref refer="etterem_kulcs" name="etterem_szakacs_idegen_kulcs">
        <xs:selector xpath="szakacs" />
        <xs:field xpath="@e_sz"/>
    </xs:keyref>

    <xs:keyref refer="etterem_kulcs" name="etterem_gyakornok_idegen_kulcs">
        <xs:selector xpath="gyakornok" />
        <xs:field xpath="@e_gy"/>
    </xs:keyref>

    <xs:unique name="unique_vegzettseg_foszakacs">
      <xs:selector xpath="foszakacs"/>
      <xs:field xpath="@e_f"/>
    </xs:unique>

  </xs:element>

  <xs:complexType name="EtteremTipus">
    <xs:sequence>
      <xs:element name="nev" type="xs:string"/>
      <xs:element name="cim" type="CimTipus"/>
      <xs:element name="csillag" type="xs:positiveInteger"/>
    </xs:sequence>
    <xs:attribute name="ekod" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="CimTipus">
    <xs:sequence>
      <xs:element name="varos" type="xs:string"/>
      <xs:element name="utca" type="xs:string"/>
      <xs:element name="hazszam" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FoszakacsTipus">
    <xs:sequence>
      <xs:element name="nev" type="xs:string"/>
      <xs:element name="eletkor" type="xs:positiveInteger"/>
      <xs:element name="vegzettseg" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="fkod" type="xs:string" use="required"/>
    <xs:attribute name="e_f" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="SzakacsTipus">
    <xs:sequence>
      <xs:element name="nev" type="xs:string"/>
      <xs:element name="reszleg" type="xs:string"/>
      <xs:element name="vegzettseg" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="szkod" type="xs:string" use="required"/>
    <xs:attribute name="e_sz" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="GyakornokTipus">
    <xs:sequence>
      <xs:element name="nev" type="xs:string"/>
      <xs:element name="gyakorlat" type="GyakorlatTipus"/>
      <xs:element name="muszak" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="gykod" type="xs:string" use="required"/>
    <xs:attribute name="e_gy" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="GyakorlatTipus">
    <xs:sequence>
      <xs:element name="kezdete" type="xs:string"/>
      <xs:element name="idotartama" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VendegTipus">
    <xs:sequence>
      <xs:element name="nev" type="xs:string"/>
      <xs:element name="eletkor" type="xs:positiveInteger"/>
      <xs:element name="cim" type="CimTipus"/>
    </xs:sequence>
    <xs:attribute name="vkod" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="RendelesTipus">
    <xs:sequence>
      <xs:element name="osszeg" type="xs:positiveInteger"/>
      <xs:element name="etel" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="e_v_e" type="xs:string" use="required"/>
    <xs:attribute name="e_v_v" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>